<?xml version="1.0" encoding="UTF-8"?>

<widget 
  xmlns = "http://www.w3.org/ns/widgets"
  xmlns:gap = "http://phonegap.com/ns/1.0"
  version = "1.0">

  <name>CloudVOTE Remote</name>

  <icon
    src = "CloudVOTE-icon-145.png"
    width = 146
    height = 145></icon>

  <gap:splash></gap:splash>

</widget>
